body {
  background-color: #e2e6ea !important;
  margin: 20px 20px;
}
* {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 20px;
}

.nav-link a {
  color: black;
  text-decoration: none;
}

.nav-link a:hover {
  color: orangered;
}

.btn-contactt {
  background-color: orangered;
  color: white;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}
section {
  padding-top: 36px;
}
.border {
  background-color: white;
  border: 2px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: auto;
}
.grid-item p,
h1 {
  margin-right: 50px;
  margin-bottom: 30px;
}
.dataMulai {
  display: grid;
  grid-template-columns: auto auto auto;
}
.dataMulai .date-input {
  padding-right: 50px;
}
.btn-contact {
  background-color: #111727;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 40px;
}
.btn-download {
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.sosmed {
  font-size: 30px;
  margin: 2px 0 0;
  padding: 2px 0;
  padding-top: 20px;
  border-color: white;
}
.sosmed.round {
  border: none;
  padding: 5px;
  font-size: 31px;
  height: 130px;
  width: 130px;
}
.card {
  max-width: 200px;
  margin: 10px auto;
  padding: 0px 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container-card {
  padding: 1px 1%;
  background-color: white;
  text-align: center;
}
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 80vw;
  height: 100vh;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.label-contact {
  font-size: 15px;
  font-weight: bold;
}

.input-contact {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  border-color: rgb(161, 161, 161);
  margin-bottom: 10px;
  height: 40px;
}

.submit-contact {
  background-color: orangered;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  margin-left: 34vw;
}

textarea.input-contact {
  resize: none;
  height: 200px;
}
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: bold;
}

.blog-form form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(202, 202, 205);
}

.blog-form form textarea {
  height: 250px;
  resize: none;
}

.blog-form form .button-input {
  text-align: right;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.blog hr {
  border: 1px solid rgb(220, 16, 16);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Blog List Items */
.blog-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  padding: 60px;
}
.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-items {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid rgb(228, 228, 228);
  border-radius: 10px;
  display: grid;
}

.blog .blog-list .blog-list-items .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-items .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-items .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: orangered;
  color: white;
  cursor: pointer;
}
.btn-delete {
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: orangered;
  color: white;
}
.blog .blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 10px;
  background: orangered;
  color: white;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: black;
}

.blog .blog-list .detail-blog {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.blog .blog-list p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.container-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
.overlay .logo-tech {
  display: flex;
  justify-content: start;
  margin-top: 10px;
  font-size: 15px;
}
.overlay .logo-tech i {
  margin-right: 10px;
}
